<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d7c06acced.js" crossorigin="anonymous"></script>

  <h1 class = "ml-2 mt-2"><img src="images/congress.png" height = "75px"> Congress Stalker  </h1>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/user_details">Profile</a>
        </li>
      </ul>
    </div>
  </nav>


</header>
