<!DOCTYPE html>
<html>
<head>
  <title>Congress - About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>
  <br>
  <div class = "ml-3 mainstuff">
    <h2>About Congress Stalker </h2>
    This app is meant to demonstrate the basic concepts necessary to run an Express server to display information from an API.
    <br>
    <br>
    <h5> Attributions </h5>
    <ul>
      <li> All Congressional data used with permission from the <a href="https://projects.propublica.org/api-docs/congress-api/">ProPublica Congress API</a> </li>
      <li> Congress images are public domain and accessed on <a href="https://github.com/unitedstates/images"> GitHub </a> </li>
      <li> Shoutout to <a href="https://fontawesome.com/"> FontAwesome</a>, for the social media icons (Twitter, Facebook, YouTube), party icons, and gender icons </li>
      <li> This website used <a href="https://getbootstrap.com/">Bootstrap</a> for styling </li>
      <li> United States Congress seal from <a href="https://en.wikipedia.org/wiki/File:Seal_of_the_United_States_Congress.svg">Wikimedia Commons</a> </li>

    </ul>
  </div>
  <% include global/footer %>
 </body>
</html>
